

.backgroundslika
{
background-image: url("http://localhost:5611/Images/cover.jpg");
background-position: center;
background-attachment: fixed;
background-size: cover;
}

.send{

}

.recv {


}





